.linearContainer {
  margin: auto;
}

.linearContainer img {
  width: 100%;
  height: auto;
  padding: 2%;
  display: block;
}

/* Mobile */
@media only screen and (min-width: 0px) {
  .linearContainer {
    width: 80%;
  }
}

/* Desktop */
@media only screen and (min-width: 800px) {
  .linearContainer {
    width: 50%;
  }
}